<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <p>This is current to the Prove 03 Assignment.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstleyVEVO"><span class="glyphicon glyphicon-flash"></span> Use the newest feature!</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/JoshEthan/cse341.git"><span class="glyphicon glyphicon-download"></span> Link to my GitHub</a>
  </div>
</div>

</body>
</html>
